body{
    background-color: #2B66DE;
}

.draggable-circle-container {
    position: fixed;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.draggable-circle {
    /*width: 200px; /* 以前よりも少し大きく */
    /*height: 200px; /* 以前よりも少し大きく */

    border-radius: 50%;
    /*background-color: blue;*/
    /*transition: transform 0.2s ease;*/
}

h1{
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 600;
    color: #1b4394;
}

.collision {
    display: flex;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-circle.dragging {
    cursor: grabbing;
}
